// ===== main colors =====
$main-text-color: #394155;
$secondary-text-color: #798595;
$main-button-gradient: linear-gradient(91deg, #3cb9a0 0.57%, #1786ac 99.43%);
$secondary-button-gradient: linear-gradient(90deg, #e6f7f5 0%, #f8fcfc 100%);

// ===== transition =====
$transition: 0.3s ease-in-out;
